

// custom colors
$cyan : #17a2b8;
$white: #fff;
$black: #000;
$red: #ff3300;
$green: #00b300;
$orange: #ff8c1a;
$yellow: #ffcf00;
$light-gray: #F2F3F4;
$indigo: #8171d9;
$pink: #e83e8c;
$blue:#356ec5;

$side-nav-text-color:rgb(233, 238, 240);
$dark-theme:#cc2900;
$theme: #ac7339;

$text-color:#273746;
$content-color:#666;
$border-color:#e1e1e1;