@import "../theme/variables";
@import "../utils/mixin";

// scrollbar css 
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

*::placeholder {
    font-size: 12px;
    // font-weight: 700;
    opacity: 0.1;
  }

// end

.nav-tabs {
    margin-bottom: 20px;

    .nav-link {
        margin-bottom: 0;
    }
}


// modal 

.modal {
    background: rgba(0, 0, 0, 0.5);

    .close {
        background-color: transparent;
        border: 0;
    }
}